#topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}

#menubar{
    margin-right: 50px;
}



a{
    text-decoration: none;
}

div{
    box-sizing: border-box;
    width: 141px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    height: 40px;
    margin-left: -5px;
    padding-top: 10px;

}